@import '../../style/variables.scss';

.cd-text-input {
    &__label {
      display: flex;
      font-weight: 500;
      color: $color_black_1;
      margin-bottom: 2px;
      font-size: 16px;
      align-items: center;
    }
  
    &__description {
      color: $color_gray_8;
      margin-bottom: 12px;
      line-height: 18px;
    }
}
.cd-input {
    span.required {
      color: $color_thunderbird;
    }
  
    &__label {
      color: $color_white;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      &--level {
        &-item {
          height: 4px;
          width: 10px;
          background-color: $color_gray_3;
          display: inline-block;
          margin-right: 6px;
        }
      }
      &--low {
        background-color: $color_french_rose;
        color: $color_french_rose;
      }
      &--medium {
        background-color: $color_orange_1;
        color: $color_orange_1;
      }
      &--high {
        background-color: $color_chateau_green;
        color: $color_chateau_green;
      }
      &--level {
        &-title {
          margin-left: 2px;
          background-color: transparent;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
}
.cd-error-text {
    color: #ef466f;
    font-size: 12px;
    margin-top: 4px;
    text-align: left;
}